<nav class="#ffa726 orange lighten-1">
  <div>
    <a href="/users/<%= @user.id %>/profile" class="brand-logo thin">  Welcome, <%= @user.name %></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href ="/users/logout">Log Out</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h4><i>Choose a deck to play!</i></h4>

    <% @decks.each do |deck| %>
      <div class="row">
        <div class="col s12 m6">
          <div class="card grey lighten-1">
            <div class="card-content white-text">
              <span class="card-title">
                <%= deck.name %>
              </span>
              <p><%= deck.description %></p>
            </div>
            <div class="card-action">
              <a href="/games/new/<%=deck.id%>">play</a>
            </div>
          </div>
        </div>
      </div>
    <% end %>


</div>

<!-- links to decks to play new games  -->
<!-- <a href="/games/:deck_id/new">Play this game!</a> -->

