<div id="result-display" class="card orange lighten-2">
  <h4>Great game, <%= current_user.name %></h4>
  <h5> Here are your results: </h5>

  <p>Out of <%= @game.total_questions %>, you answered <%= @game.total_correct %> correctly!</p>
  <p> That's <%= @game.percentage_correct %>! Great job.</p>

  <a href="/users/<%= current_user.id %>/profile">Return to your profile</a>
</div>

