<div id="deck-display">
  <h1>Great game, <%= current_user.name %></h1>
  <h3> Here are your results: </h3>

  <p>Out of <%= @game.total_questions %>, you answered <%= @game.total_correct %> correctly!</p>
  <p> That's <%= @game.percentage_correct %>! Great job.</p>

  <a href="/users/<%= current_user.id %>/profile">Return to your profile</a>
</div>

